.Success {
    background-color: green;
    border-radius: 3px;
    font-family: 'BIZ UDPMincho', serif;
    font-weight: bold;
}

.Error {
    background-color: red;
    border-radius: 3px;
    font-family: 'BIZ UDPMincho', serif;
    font-weight: bold;
}
